.listOfCast {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.itemOfCast {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 200px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.itemOfCast:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.itemOfCast p {
    margin: 10px 5px;
    font-size: 14px;
    color: #333;
}

.itemOfCast p:nth-of-type(1) {
    font-weight: bold;
}

.itemOfCast p:nth-of-type(2) {
    color: #666;
}