.navContainer {
    display: flex;
    gap: 30px;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid whitesmoke;
}

.link {
    padding: 8px;
}

.active {
    border: 1px solid rgb(96, 25, 227);
    border-radius: 4px;
    background-color: black;
    color: red;
}