.header {
    background-color: #282c34;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navLink {
    color: #61dafb;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
}

.navLink:hover {
    color: #21a0f6;
    transform: scale(1.1);
}

.navLink.active {
    color: #ffffff;
    border-bottom: 2px solid #61dafb;
}